.theme-switch {
  position: relative;
  display: inline-block;
  width: 46px;
  height: 24px;
}

.theme-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background-color: hwb(34 53% 13%);
  border-radius: 34px;
  transition: background-color 0.3s;
}

.slider::before {
  content: "";
  position: absolute;
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: black;
  border-radius: 50%;
  transition: transform 0.3s;
}

.theme-switch input:checked + .slider {
  background-color: var(--primary);
}

.theme-switch input:checked + .slider::before {
  transform: translateX(22px);
}
