.text {
  text-align: center;
  padding: 2px;
}
body {
  background-color: rgb(141, 173, 163);
  justify-content: center;
}
.add {
  text-align: center;
  background: linear-gradient(to bottom, #94c1bc, #c9e3e0);
  box-shadow: 4px 4px 8px #00000040;
  width: 20%;
  margin: auto;
  line-height: 3;
  padding: 20px;
}
.add1 {
  display: flex;
  gap: 20px;
  justify-content: center;
}
.add2 input {
  width: 80px;
  background-color: rgb(148, 183, 172);
  border: none;
  margin-right: 12px;
  padding: 5px;
  font-size: 18px;
}
button{
  background-color: rgb(148, 183, 172);
  border: none;
  font-size: 18px;
}